html, * {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background: rgb(69,89,96);
}

.loading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
    z-index: 999999 !important;
}

.menu-ham {
    width: 100%;
}

.menu-exit {
    width: 100%;
}

.mhead {
    right: 0 !important;
    z-index: 99999999;
    position: absolute;
    top: 0 !important;
    cursor: pointer;
    width: 18%;
}

.menu {
    width: 60%;
    height: 100%;
    position: fixed;
    right: -60%;
    top: 0;
    background-color: #2F3D43;
    box-shadow: 1px 0 5px black;
    transition: all ease 1s;
    z-index: 99999999 !important;
}

.close-menu {
    float: right;
    min-height: 30px;
    margin-right: 10%;
    margin-top: 10%;
    cursor: pointer;
    width: 10%;
}

.menu ul {
    padding-left: 0;
    margin-top: 35% !important;
    width: 100%;
}

.menu li {
    list-style: none;
    text-decoration-style: none;
    line-height: 170%;
    padding: 5% 0% 5% 5%;
    text-align: center !important;
}

.menu a li {
    text-transform: uppercase;
    font-size: 16px;
    color: #E7E8EB;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.menu li:hover {
    background-color: #4B9C96 !important;
    cursor: pointer;
}

.googleBtn {
    width: 100% !important;
    text-align: center !important;
    background-color: inherit !important;
    color: #E7E8EB !important;
    text-decoration: none !important;
    text-transform: uppercase;
    box-shadow: none !important;
    border: none !important;
    /* display: inline-block !important; */
    font-size: 16px !important;
}

.displayNone {
    display: none !important;
}

.displayInline {
    display: inline-block !important;
}

.pomodoroContainer {
    z-index: 999;
    position: absolute;
    height: 100%;
    width: 100%;
}

.pomodoroCounterContainer {
    z-index: 9999;
    position: absolute;
}

.navigation {
    background-color: #2F3D43 !important;
    border: none;
    border-radius: 0;
    z-index: 9999;
}

.buttonContainer {
    padding: 0;
    margin: auto;
}

.navContainer {
    margin: auto;
    width: 100%;
    height: 100% !important;
}

.navButton {
    width: 100% !important;
}

.activity {
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
}

.countdownContainer {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
}

.loginAlert {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: 50%;
    width: 80%;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    75%{opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    75%{opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    75%{opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    75%{opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    75%{opacity:0;}
    100% {opacity:1;}
}

.loginAlertText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 90%;
    height: 60%;
    text-align: center;
}

.catImg {
    width: 70% !important;
    height: 50% !important;
    margin-bottom: 5%;
}

.navigation:hover {
    background-color: #4B9C96 !important;
}

.navigation:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #4B9C96;
}

.pomodoroCounter {
    background-color: #54AEA9;
    padding-left: 8px;
    padding-right: 12px;
    border-radius: 0 30px 30px 0;
    font-weight: 100;
    font-size: 120%;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    text-align: center;
    border: none;
}

.cyanButton {
    background-color: #54AEA9;
}

.cyanButton:hover { 
    background-color: #458d89;
    border: none;
}

.cyanButton:focus {
    outline: none !important;
    box-shadow: none !important;
}

.statsNavContainer {
    margin-top: 10% !important;
}

.statsNavigation {
    border-radius: 0;
    background-color: #2F3D43;
    border: none;
    border-left: 0.2px solid #28343a;
    border-right: 0.2px solid #28343a;
}

.statsNavigation:hover {
    background-color: #4B9C96;
}

.statsNavigation:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #4B9C96;
}

.statsNavigationLeft {
    border-radius: 15px 0 0 15px;
    padding-left: 20px;
}

.statsNavigationRight {
    border-radius: 0 15px 15px 0;
    padding-right: 20px;
}

.countdown {
    line-height: 90%;
    margin-top: 280px !important;
}

.graph {
    position: relative !important;
    margin: auto !important;
    height: 70vh !important;
    width: 100% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

@media only screen and (min-width: 375px) { 
    .mhead {
        width: 16%;
    }
    .menu {
        width: 50%;
        right: -50%;
    }
}

@media only screen and (min-width: 425px) { 
    .catImg {
        width: 200px !important;
    }
    .statsNavContainer {
        margin-top: 0 !important;
    }
    .mhead {
        width: 60px;
    }
    .menu {
        width: 45%;
        right: -45%;
    }
}

@media only screen and (min-width: 768px) { 
    .loginAlert {
        width: 50% !important;
    }
    .mhead {
        width: 8%;
    }
    .menu {
        width: 25%;
        right: -25%;
    }
}

@media only screen and (min-width: 1024px) { 
    .loginAlert {
        width: 40% !important;
    }
    .mhead {
        width: 6%;
    }
    .menu {
        width: 20%;
        right: -20%;
    }
}

@media only screen and (min-width: 1069px) { 
    .loginAlert {
        width: 30% !important;
    }
    .mhead {
        width: 5.5%;
    }
    .menu {
        width: 18%;
        right: -18%;
    }
}

@media only screen and (min-width: 1583px) { 
    .menu li, .googleText {
        font-size: 120% !important;
    }
    .catImg { 
        width: 50% !important;
    }
    .navButton svg {
        width: 7%;
        height: 7%;
        padding-top: .1%;
        padding-bottom: .1%;
    }
    .activity {
        font-size: 120%;
    }
    .countdownContainer p {
        font-size: 700% !important;
    }
    .btn-circle.btn-xl {
        width: 80px;
        height: 80px;
        padding: 20px 18.8px;
        border-radius: 65px;
        font-size: 120%;
    }
    .pomodoroCounter {
        font-size: 150%;
    }
} 

@media only screen and (min-width: 1781px) { 
    .menu li, .googleText {
        font-size: 130% !important;
    }
    .statsNavigation {
        font-size: 115%;
    }
    .activity {
        font-size: 130%;
    }
    .countdownContainer p {
        font-size: 750% !important;
    }
    .btn-circle.btn-xl {
        width: 90px;
        height: 90px;
        padding: 20px 18.8px;
        border-radius: 65px;
        font-size: 130%;
    }
    .pomodoroCounter {
        font-size: 160%;
    }
    .navButton svg {
        width: 7%;
        height: 7%;
        padding-top: .1%;
        padding-bottom: .1%;
    }
} 

@media only screen and (min-width: 1900px) { 
    .menu li, .googleText {
        font-size: 140% !important;
    }
    .statsNavigation {
        font-size: 130%;
    }
    .activity {
        font-size: 140%;
    }
    .countdownContainer p {
        font-size: 800% !important;
    }
    .btn-circle.btn-xl {
        width: 100px;
        height: 100px;
        padding: 20px 18.8px;
        border-radius: 65px;
        text-align: center;
        border: none;
        font-size: 130%;
    }
    .pomodoroCounter {
        font-size: 170%;
    }
} 

@media only screen and (min-width: 2137px) { 
    .menu li, .googleText {
        font-size: 160% !important;
    }
    .statsNavigation {
        font-size: 150%;
    }
    .activity {
        font-size: 150%;
    }
    .countdownContainer p {
        font-size: 850% !important;
    }
    .btn-circle.btn-xl {
        width: 110px;
        height: 110px;
        padding: 20px 18.8px;
        border-radius: 65px;
        text-align: center;
        border: none;
        font-size: 140%;
    }
    .pomodoroCounter {
        font-size: 180%;
        padding-left: 15px;
        padding-right: 22px;
    }
    .navButton svg {
        padding-top: .4%;
        padding-bottom: .4%;
    }
} 

@media only screen and (min-width: 2850px) { 
    .menu li, .googleText {
        font-size: 220% !important;
    }
    .statsNavigation {
        font-size: 200%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .statsNavigationLeft {
        border-radius: 25px 0 0 25px;
        padding-left: 35px;
    }
    .statsNavigationRight {
        border-radius: 0 25px 25px 0;
        padding-right: 35px;
    }
    .activity {
        font-size: 200%;
    }
    .countdownContainer p {
        font-size: 1200% !important;
    }
    .btn-circle.btn-xl {
        width: 160px;
        height: 160px;
        padding: 20px 0;
        border-radius: 105px;
        text-align: center;
        border: none;
        font-size: 200%;
    }
    .pomodoroCounter {
        font-size: 250%;
        padding-left: 20px;
        padding-right: 28px;
        padding-bottom: 5px;
    }
} 

@media only screen and (min-width: 4275px) { 
    .menu li, .googleText {
        font-size: 320% !important;
    }
    .statsNavigation {
        font-size: 300%;
        padding-left: 40px;
        padding-right: 40px;
    }
    .statsNavigationLeft {
        border-radius: 35px 0 0 35px;
        padding-left: 55px;
    }
    .statsNavigationRight {
        border-radius: 0 35px 35px 0;
        padding-right: 55px;
    }
    .activity {
        font-size: 300%;
    }
    .countdownContainer p {
        font-size: 2000% !important;
    }
    .btn-circle.btn-xl {
        width: 230px;
        height: 230px;
        padding: 20px 0;
        border-radius: 205px;
        text-align: center;
        border: none;
        font-size: 300%;
    }
    .pomodoroCounter {
        font-size: 400%;
        padding-left: 30px;
        padding-right: 38px;
        border-radius: 0 50px 50px 0;
    }
    .navButton svg {
        padding-top: .6%;
        padding-bottom: .6%;
    }
}