html, * {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background: rgb(69,89,96);
}

.pomodoroContainer {
    z-index: 999;
    position: absolute;
    height: 100%;
    width: 100%;
}

.pomodoroCounterContainer {
    z-index: 9999;
    position: absolute;
}

.navigation {
    background-color: #2F3D43 !important;
    border: none;
    border-radius: 0;
    z-index: 9999;
}

.buttonContainer {
    padding: 0;
    margin: auto;
}

.navContainer {
    margin: auto;
    width: 100%;
    height: 100% !important;
}

.navButton {
    width: 100% !important;
}

.activity {
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
}

.countdownContainer {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
}

.navigationDividerMiddle {
    border-left: 2px solid #28343a;
    border-right: 2px solid #28343a;
}

.googleBtn {
    background-color: #2F3D43 !important;
    border: none !important;
    border-radius: 0 !important;
    display: inline-block !important;
    height: 100% !important;
}

.bi-google {
    margin-right: 8px !important;
}

.navigation:hover {
    background-color: #4B9C96 !important;
}

.navigation:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #4B9C96;
}

.pomodoroCounter {
    background-color: #54AEA9;
    padding-left: 8px;
    padding-right: 12px;
    border-radius: 0 30px 30px 0;
    font-weight: 100;
    font-size: 120%;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    text-align: center;
    border: none;
}

.cyanButton {
    background-color: #54AEA9;
}

.cyanButton:hover { 
    background-color: #458d89;
    border: none;
}

.cyanButton:focus {
    outline: none !important;
    box-shadow: none !important;
}

.statsNavigation {
    border-radius: 0;
    background-color: #2F3D43;
    border: none;
    border-left: 0.2px solid #28343a;
    border-right: 0.2px solid #28343a;
}

.statsNavigation:hover {
    background-color: #4B9C96;
}

.statsNavigation:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #4B9C96;
}

.statsNavigationLeft {
    border-radius: 15px 0 0 15px;
    padding-left: 20px;
}

.statsNavigationRight {
    border-radius: 0 15px 15px 0;
    padding-right: 20px;
}

.countdown {
    line-height: 90%;
    margin-top: 280px !important;
}

.graph {
    position: relative !important;
    margin: auto !important;
    height: 70vh !important;
    width: 100% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

@media only screen and (min-width: 1583px) { 
    .navButton svg {
        width: 4%;
        height: 4%;
        padding-top: .1%;
        padding-bottom: .1%;
    }
    .activity {
        font-size: 120%;
    }
    .countdownContainer p {
        font-size: 700% !important;
    }
    .btn-circle.btn-xl {
        width: 80px;
        height: 80px;
        padding: 20px 18.8px;
        border-radius: 65px;
        font-size: 120%;
    }
    .pomodoroCounter {
        font-size: 150%;
    }
} 

@media only screen and (min-width: 1781px) { 
    .statsNavigation {
        font-size: 115%;
    }
    .activity {
        font-size: 130%;
    }
    .countdownContainer p {
        font-size: 750% !important;
    }
    .btn-circle.btn-xl {
        width: 90px;
        height: 90px;
        padding: 20px 18.8px;
        border-radius: 65px;
        font-size: 130%;
    }
    .pomodoroCounter {
        font-size: 160%;
    }
    .navButton svg {
        width: 4.5%;
        height: 4.5%;
        padding-top: .1%;
        padding-bottom: .1%;
    }
} 

@media only screen and (min-width: 1900px) { 
    .statsNavigation {
        font-size: 130%;
    }
    .activity {
        font-size: 140%;
    }
    .countdownContainer p {
        font-size: 800% !important;
    }
    .btn-circle.btn-xl {
        width: 100px;
        height: 100px;
        padding: 20px 18.8px;
        border-radius: 65px;
        text-align: center;
        border: none;
        font-size: 130%;
    }
    .pomodoroCounter {
        font-size: 170%;
    }
} 

@media only screen and (min-width: 2137px) { 
    .statsNavigation {
        font-size: 150%;
    }
    .activity {
        font-size: 150%;
    }
    .countdownContainer p {
        font-size: 850% !important;
    }
    .btn-circle.btn-xl {
        width: 110px;
        height: 110px;
        padding: 20px 18.8px;
        border-radius: 65px;
        text-align: center;
        border: none;
        font-size: 140%;
    }
    .pomodoroCounter {
        font-size: 180%;
        padding-left: 15px;
        padding-right: 22px;
    }
    .navButton svg {
        padding-top: .4%;
        padding-bottom: .4%;
    }
} 

@media only screen and (min-width: 2850px) { 
    .statsNavigation {
        font-size: 200%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .statsNavigationLeft {
        border-radius: 25px 0 0 25px;
        padding-left: 35px;
    }
    .statsNavigationRight {
        border-radius: 0 25px 25px 0;
        padding-right: 35px;
    }
    .activity {
        font-size: 200%;
    }
    .countdownContainer p {
        font-size: 1200% !important;
    }
    .btn-circle.btn-xl {
        width: 160px;
        height: 160px;
        padding: 20px 0;
        border-radius: 105px;
        text-align: center;
        border: none;
        font-size: 200%;
    }
    .pomodoroCounter {
        font-size: 250%;
        padding-left: 20px;
        padding-right: 28px;
        padding-bottom: 5px;
    }
} 

@media only screen and (min-width: 4275px) { 
    .statsNavigation {
        font-size: 300%;
        padding-left: 40px;
        padding-right: 40px;
    }
    .statsNavigationLeft {
        border-radius: 35px 0 0 35px;
        padding-left: 55px;
    }
    .statsNavigationRight {
        border-radius: 0 35px 35px 0;
        padding-right: 55px;
    }
    .activity {
        font-size: 300%;
    }
    .countdownContainer p {
        font-size: 2000% !important;
    }
    .btn-circle.btn-xl {
        width: 230px;
        height: 230px;
        padding: 20px 0;
        border-radius: 205px;
        text-align: center;
        border: none;
        font-size: 300%;
    }
    .pomodoroCounter {
        font-size: 400%;
        padding-left: 30px;
        padding-right: 38px;
        border-radius: 0 50px 50px 0;
    }
    .navButton svg {
        padding-top: .6%;
        padding-bottom: .6%;
    }
}